{{/* Archi Anchor, the length of an anchor in word document is max 40 characters */}}
{{- $aname := (.Get 0) -}}
{{- $aname := replace $aname "Business" "B" -}}
{{- $aname := replace $aname "Application" "B" -}}
{{- $aname := replace $aname "Technology" "T" -}}
{{- $aname := replace $aname "Service" "S" -}}
{{- $aname := replace $aname "Interface" "S" -}}
{{- $aname := replace $aname "Function" "F" -}}
{{- $aname := replace $aname "Process" "P" -}}
{{- $aname := replace $aname "Event" "E" -}}
{{- $aname := replace $aname "Object" "O" -}}
{{- $aname := replace $aname "Actor" "A" -}}
{{- $aname := replace $aname "Role" "R" -}}
{{- $aname := replace $aname "Component" "C" -}}
{{- $aname := replace $aname "Node" "N" -}}
{{- $aname := replace $aname "Device" "Dev" -}}
{{- $aname := replace $aname "SystemSoftware" "SS" -}}
{{- $aname := replace $aname "Path" "P" -}}
{{- $aname := replace $aname "Artifact" "A" -}}
{{- $aname := replace $aname "WorkPackage" "WP" -}}
{{- $aname := replace $aname "Deliverable" "D" -}}
{{- $aname := replace $aname "Capability" "C" -}}
{{- $aname := replace $aname "Resource" "R" -}}
{{- $aname := replace $aname "ValueStream" "VS" -}}
{{- $aname := replace $aname "ValueStream" "VS" -}}
{{- $aname := print $aname "_" (.Get 1) -}}
{{- $aname := urlize (anchorize $aname) -}}
{{- $aname := first 35 $aname -}}
<a name="{{- $aname -}}"/>