{{ $myURL := strings.TrimLeft "/" .URL | strings.TrimRight "/" }}
{{ $urlDepth := split $myURL "/" | len}}
{{ $aname := (replace (substr .RelPermalink 0 -1) "/" "_") }}

{{ if (eq $urlDepth 1) }}
    <h1>{{ .Title }}<a name="{{ $aname }}"/></h1>
{{ else if (eq $urlDepth 2) }}
    <h2>{{ .Title }}<a name="{{ $aname }}"/></h2>
{{ else if (eq $urlDepth 3) }}
    <h3>{{ .Title }}<a name="{{ $aname }}"/></h3>
{{ else if (eq $urlDepth 4) }}
    <h4>{{ .Title }}<a name="{{ $aname }}"/></h4>
{{ else if (eq $urlDepth 5) }}
    <h5>{{ .Title }}<a name="{{ $aname }}"/></h5>
{{ end }}


